@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 outline: none;
 font-family:  "Raleway",monospace;
 font-style: normal;
// border: var(--bd);
}

:root{
 --ts: transparent;
 --wt: #fff;
 --p-bl: hsla(243,100%,93%,1);
 --gy-bl: hsla(229,7%,55%,1);
 --dk-bl: hsla(228,56%,26%,1);
 --v-d-b: hsla(229,57%,11%,1);
 
 
 --mx-w: 1440px;
 --mx-h: 100vmax;
 --st-w: 100%;
 --rad: .7143rem;
 --fts: 14px;
 --cn: center;
 --bd: 1px solid currentColor;
}

html{
 font-size: var(--fts);
 width: var(--mx-w);
 min-height: var(--mx-h);
 
 
 background: var(--v-d-b) url("/images/bg-desktop.png") no-repeat border-box 0% 100%/100% 50%;
 body{
  min-height: inherit;
 }
}

//utility classes

$space-type: ("evenly":"space-evenly","around":"space-around","between":"space-between");
$fx-dir: row, column;
$im: !important;

@each $type, $name in $space-type{
 .fx-#{$type}{
  display: flex;
  align-content: var(--cn);
  justify-content: #{$name};
 }
}

@each $dir in $fx-dir{
 .fx-#{$dir}{
  flex-flow: $dir;
 }
}

.hide{
 display: none;
}

.gray{
 color: var(--gy-bl);
font-weight: 500;
font-size: 1.2rem;
}
.pale{
 color: var(--p-bl);
 font-weight: bold;
}
//card object and components
.card{
 width: 80%;
 height: 15.714rem;
 align-self: var(--cn);
 &__intro{
  width: 33%;
  padding-left: 5%;
  border-top-right-radius: calc(var(--st-w)/3) $im;
  border-radius: var(--rad);
  background-color: var(--dk-bl);
  div{
   width: 60%;
  }
 }
 &__info{
  width: 57%;
  height: 75%;
  padding-inline: 4%;
    border-radius: var(--rad);
   align-self: flex-end;
   background-color: var(--dk-bl);
  
position: relative;

h1{
 position: absolute;
 top: -40%;
 left: 60%;
 clip-path: polygon(0 0,0 75%,87% 75%,99% 99%,100% 0);
 background-color: var(--wt);
 color: var(--v-d-b);
 width: 16.43rem;
 height: 8.75rem;
 padding: 2%;
 border-radius: var(--rad);
}

 }
 &__icon{
  span{
   width: 3.145rem;
   height: 3.145rem;
   border-radius: var(--rad);
   background-color: var(--v-d-b);
  img{
   align-self: var(--cn);
  }
  }
 }
 &__bar{
  span{
   display: inline-block;
   width: 100%;
   height: 20px;
   margin: var(--rad);
   border-radius: calc(var(--rad)*3);
   background: hsla(229,57%,11%,.1);
  }
 }
 color: #30B979;
}




