@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 outline: none;
 font-family:  "Raleway",monospace;
 font-style: normal;
 //border: var(--bd);
}

:root{
 --ts: transparent;
 --wt: #fff;
 --p-bl: hsla(243,100%,93%,1);
 --gy-bl: hsla(229,7%,55%,1);
 --dk-bl: hsla(228,56%,26%,1);
 --v-d-b: hsla(229,57%,11%,1);
 
 
 --mx-w: 1440px;
 --mx-h: 100vmax;
 --st-w: 100%;
 --rad: .7143rem;
 --fts: 14px;
 --cn: center;
 --bd: 1px solid currentColor;
 
 
 --b: ease-in-out;
 --trans-a: 3.5s var(--b) 1 -.5s;
 --right: goRight var(--trans-a);
  --left: goLeft var(--trans-a);
  --up: goUp var(--trans-a);
  --down: goDown var(--trans-a);
}

html{
 font-size: var(--fts);
 width: var(--mx-w);
 min-height: var(--mx-h);
 
 
 background: var(--v-d-b) url("/images/bg-desktop.png") no-repeat border-box 0% 100%/100% 50%;
 body{
  min-height: inherit;
 }
}

/* ----- utility classes ----- */

$space-type: ("evenly":"space-evenly","around":"space-around","between":"space-between");
$fx-dir: row, column;
$im: !important;

@each $type, $name in $space-type{
 .fx-#{$type}{
  display: flex;
  align-content: var(--cn);
  justify-content: #{$name};
 }
}

@each $dir in $fx-dir{
 .fx-#{$dir}{
  flex-flow: $dir;
 }
}

.hide{
 display: none;
}

.gray{
 color: var(--gy-bl);
font-weight: 500;
font-size: 1.15rem $im;
}
.pale{
 color: var(--p-bl);
 font-weight: bold;
}
//card object and components
.card{
 width: 80%;
 height: 15.714rem;
 align-self: var(--cn);
 &__intro{
  width: 33%;
  padding-left: 5%;
  border-top-right-radius: calc(var(--st-w)/3) $im;
  border-radius: var(--rad);
  background-color: var(--dk-bl);
  
  animation: var(--left);
  div{
   width: 60%;
  }
 }
 &__info{
  width: 57%;
  height: 75%;
  padding-inline: 4%;
    border-radius: var(--rad);
   align-self: flex-end;
   background-color: var(--dk-bl);
  
position: relative;
animation: var(--right);
h1{
 position: absolute;
 top: -40%;
 left: 60%;
 clip-path: polygon(0 0,0 75%,87% 75%,99% 99%,100% 0);
 background-color: var(--wt);
 color: var(--v-d-b);
 width: 35%;//16.43rem;
 height: 8.75rem;
 padding: 3% 4%;
 border-radius: var(--rad);
 animation: var(--left);
}

 }
 &__icon{
  animation: var(--left);
  span{
   width: 3.145rem;
   height: 3.145rem;
   border-radius: var(--rad);
   background-color: var(--v-d-b);
  img{
   align-self: var(--cn);
  }
  }
 }
 &__bar{
  span{
   display: inline-block;
   width: 100%;
   height: 20px;
   margin-block:  calc(var(--rad)/2);
   border-radius: calc(var(--rad)*3);
   background: hsla(229,57%,11%,.1);
  }
 }
 color: #30B979;
}
/* ---- js media ----- */


#tb,#mb{
 width: var(--st-w);
  background: var(--v-d-b) url("/images/bg-mobile.png") no-repeat border-box 0% 0%/100% 100%;

 .card{
  @extend .fx-column;
  @extend .fx-evenly;
 }
}


#tb .card{
 width: 70%;
 height: 450px;
 &__intro{
  height: 48%;
  width: 60%;
  align-self: var(--cn);
  
    animation: var(--up);
 }
 &__info{
    height: 40%;
      width: 60%;
    align-self: var(--cn);
    
      animation: var(--down);
    h1{
     clip-path: none;
     top: 90%;
     left: 50%;
     transform: translate3d(-50%,0,0);
     
     height: 6.728rem;
     width: 12.637rem;
    }
 }
}

#mb .card{
 height: 400px;
 width: 90%;
 &__intro{
  height: 47%;
  width: 100%;
  
    animation: var(--up);
 }
 &__info{
    width: 100%;
  height: 40%;
    animation: var(--down);
  
  h1{
   clip-path: none;
   top: 90%;
   left: 50%;
   transform: translate3d(-50%,0,0);

   height: 5.393rem; 
   width: 10.214rem;
   padding: 1%;
  }
 }
}

$anime-x: ("goLeft":-60%,"goRight": 60%);
$anime-y: ("goUp": -60%, "goDown":60%);
@each $name,$val in $anime-x{
 @keyframes #{$name}{
  from{
   opacity: 0;
   transform: translate3d($val,0,0);
  }
  to{
   opacity: 1;
      transform: translate3d(0,0,0);
  }
 }
}

@each $name,$val in $anime-y{
 @keyframes #{$name}{
  from{
   opacity: 0;
   transform: translate3d(0,$val,0);
  }
  to{
   opacity: 1;
   transform: translate3d(0,0,0);
  }
 }
}
