@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Raleway", monospace;
  font-style: normal;
}

:root {
  --ts: transparent;
  --wt: #fff;
  --p-bl: hsla(243,100%,93%,1);
  --gy-bl: hsla(229,7%,55%,1);
  --dk-bl: hsla(228,56%,26%,1);
  --v-d-b: hsla(229,57%,11%,1);
  --grad-1: hsla(6 100% 80% / 1);
  --grad-2: hsla(335 100% 65% / 1);
  --mx-w: 1440px;
  --mx-h: 100vmax;
  --st-w: 100%;
  --rad: .7143rem;
  --fts: 14px;
  --cn: center;
  --bd: 1px solid currentColor;
  --b: ease-in-out;
  --trans-a: 3.5s var(--b) 1 -.5s;
  --right: goRight var(--trans-a);
  --left: goLeft var(--trans-a);
  --up: goUp var(--trans-a);
  --down: goDown var(--trans-a);
}

html {
  font-size: var(--fts);
  width: var(--mx-w);
  min-height: var(--mx-h);
  background: var(--v-d-b) url("/images/bg-desktop.png") no-repeat border-box 0% 100%/100% 50%;
}
html body {
  min-height: inherit;
  overflow-x: hidden;
}

/* ----- utility classes ----- */
.fx-evenly, #tb .card, #mb .card {
  display: flex;
  align-content: var(--cn);
  justify-content: space-evenly;
}

.fx-around {
  display: flex;
  align-content: var(--cn);
  justify-content: space-around;
}

.fx-between {
  display: flex;
  align-content: var(--cn);
  justify-content: space-between;
}

.fx-row {
  flex-flow: row;
}

.fx-column, #tb .card, #mb .card {
  flex-flow: column;
}

.hide {
  display: none;
}

.gray {
  color: var(--gy-bl);
  font-weight: 500;
  font-size: 1.15rem !important;
}

.pale {
  color: var(--p-bl);
  font-weight: bold;
}

.card {
  width: 80%;
  height: 15.714rem;
  align-self: var(--cn);
  color: #30B979;
}
.card__intro {
  width: 33%;
  padding-left: 5%;
  border-top-right-radius: calc(var(--st-w) / 3) !important;
  border-radius: var(--rad);
  background-color: var(--dk-bl);
  animation: var(--left);
}
.card__intro div {
  width: 60%;
}
.card__info {
  width: 57%;
  height: 75%;
  padding-inline: 4%;
  border-radius: var(--rad);
  align-self: flex-end;
  background-color: var(--dk-bl);
  position: relative;
  animation: var(--right);
}
.card__info h1 {
  position: absolute;
  top: -40%;
  left: 60%;
  clip-path: polygon(0 0, 0 75%, 87% 75%, 99% 99%, 100% 0);
  background-color: var(--wt);
  color: var(--v-d-b);
  width: 35%;
  height: 8.75rem;
  padding: 3% 4%;
  border-radius: var(--rad);
  animation: var(--left);
}
.card__icon {
  animation: var(--left);
}
.card__icon span {
  width: 3.145rem;
  height: 3.145rem;
  border-radius: var(--rad);
  background-color: var(--v-d-b);
}
.card__icon span img {
  align-self: var(--cn);
}
.card__bar span {
  display: inline-block;
  width: 100%;
  height: 20px;
  margin-block: calc(var(--rad) / 2);
  border-radius: calc(var(--rad) * 3);
  background-color: hsla(229deg, 57%, 11%, 0.3);
  background-image: linear-gradient(90deg, var(--grad-1), var(--grad-2), var(--ts) var(--a)), radial-gradient(10px 10px at var(--b) var(--cn), var(--ts) 30%, var(--wt) 30% 90%, var(--ts) 80%);
}

/* ---- js media ----- */
#tb, #mb {
  width: var(--st-w);
  background: var(--v-d-b) url("/images/bg-mobile.png") no-repeat border-box 0% 0%/100% 100%;
}
#tb .card {
  width: 70%;
  height: 450px;
}
#tb .card__intro {
  height: 48%;
  width: 60%;
  align-self: var(--cn);
  animation: var(--up);
}
#tb .card__info {
  height: 40%;
  width: 60%;
  align-self: var(--cn);
  animation: var(--down);
}
#tb .card__info h1 {
  clip-path: none;
  top: 90%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  height: 6.728rem;
  width: 12.637rem;
}

#mb .card {
  height: 400px;
  width: 90%;
}
#mb .card__intro {
  height: 47%;
  width: 100%;
  animation: var(--up);
}
#mb .card__info {
  width: 100%;
  height: 40%;
  animation: var(--down);
}
#mb .card__info h1 {
  clip-path: none;
  top: 90%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  height: 5.393rem;
  width: 10.214rem;
  padding: 1%;
}

@keyframes goLeft {
  from {
    opacity: 0;
    transform: translate3d(-60%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes goRight {
  from {
    opacity: 0;
    transform: translate3d(60%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes goUp {
  from {
    opacity: 0;
    transform: translate3d(0, -60%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes goDown {
  from {
    opacity: 0;
    transform: translate3d(0, 60%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*# sourceMappingURL=fun.css.map */
